<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Competitions | Portal Prestasi</title>
	<link rel="icon" type="image/png" href="assets/images/logoportal_remove.png" />
	<link rel="stylesheet" href="assets/css/style.css" />
	<link rel="stylesheet" href="assets/css/colors.css" />
	<script src="https://cdn.tailwindcss.com"></script>
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>

	<!-- NAVBAR -->
	<nav class="flex justify-center h-[70px]">
		<div class="w-[1240px] flex items-center justify-between">
			<div class="flex items-center w-[577px]">
				<img src="assets/images/logoportal_remove.png" alt="" width="45" />
				<a href="dashboard.html" class="ml-5 font-bold">PORTAL PRESTASI</a>
			</div>
			<div class="w-[600px] flex justify-between">
				<a href="competitions.html" class="py-[7px]">Competitions</a>
				<a href="scholarship.html" class="py-[7px]">Scholarship</a>
				<a href="job.html" class="py-[7px]">Jobs</a>
				<a href="activity.html" class="nav-active py-[7px] underline">Activity</a>
				<a href="login.html" class="btn-primary px-[24px] py-[7px] rounded-2xl">
					<p class="text-white">Log Out</p>
				</a>
			</div>
		</div>
	</nav>

	<!-- TABLE -->
  <section id="activity-table" class="min-h-screen">
    <div class="flex flex-col items-center text-center justify-center py-16 px-24" data-aos="fade-down">
      <p class="text-5xl font-semibold">My Activity</p>
      <div class="w-[1000px] min-h-[2px] bg-black mt-3"></div>
    </div>
    <div class="flex flex-col" data-aos="fade-down">
      <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
        <div class="py-2 inline-block min-w-full px-24">
          <div class="overflow-hidden">
            <table class="min-w-full">
              <thead class="bg-white border-t border-b border-slate-400">
                <tr>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                    #
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                    First
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                    Last
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                    Handle
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="bg-gray-100 border-b">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">1</td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    Mark
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    Otto
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    @mdo
                  </td>
                </tr>
                <tr class="bg-white border-b">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">2</td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    Jacob
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    Dillan
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    @fat
                  </td>
                </tr>
                <tr class="bg-gray-100 border-b">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">3</td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    Mark
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    Twen
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    @twitter
                  </td>
                </tr>    
                <tr class="bg-white border-b">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">4</td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    Bob
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    Dillan
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    @fat
                  </td>
                </tr>
                <tr class="bg-gray-100 border-b">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">5</td>
                  <td colspan="2" class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-center">
                    Larry the Bird
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    @twitter
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

	<!-- ABOUT -->
	<footer class="footer-color text-white py-8 min-h-44 mt-24">
		<div class="container mx-auto">
			<div class="flex flex-col lg:flex-row items-center justify-between">
				<div class="mb-4 lg:mb-0 px-10">
					<h3 class="text-xl font-semibold mb-4">PORTAL PRESTASI</h3>
					<div class="flex flex-row justify-center">
						<a href="http://wa.me/6281311208474"><img src="assets/images/whatsapp.png" class="w-7"></a>
						<div class="w-0.5 h-7 bg-gray-200 mx-2"></div>
						<a href="http://instagram.com"><img src="assets/images/instagram.png" class="w-7"></a>
						<div class="w-0.5 h-7 bg-gray-200 mx-2"></div>
						<a href="http://gmail.com"><img src="assets/images/gmail.png" class="w-7"></a>
					</div>

				</div>
				<div class="mr-24">
					<h3 class="text-xl font-semibold">Anggota Kelompok</h3>
					<p class="mt-2">Mutiara Anjeli Adrin / I0322089</p>
					<p>Raisa Azzahra / I0322103</p>
					<p>Muhammad Daffa'ul Haqqi Murti / I0322083</p>
					<p>Rizky Ibnu Indrastata / I0322111</p>
					<p>Luqman Al Hakim / I0322069</p>
					<p>⁠Nurrafi Narendraji / I0322096</p>
				</div>
	</footer>

	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script src="scripts/script.js"></script>
	<script>
		AOS.init();
	</script>

</body>

</html>