@import url(style.css);

.btn-primary{
    background-color: var(--col-brand);
}

.btn-primary:hover{
    background-color: var(--col-brand-light);
    transition: var(--transition);
}

.btn-secondary:hover{
    background-color: #c0c0c0;
    transition: var(--transition);
    color: white;
}

.footer-color{
    background-color: #2a323e;
}

#register{
    background: linear-gradient(rgba(214, 220, 229, 0.8), rgba(214, 220, 229, 0.2));
}